@charset "UTF-8";
/**
 * @file styles.scss
 *
 * Main stylesheet.
 * */
/**
 * Import external libraries.
 * */
/**
 * import config.
 * */
/* ===========================
 * Typography
 * =========================== */
/* ===========================
 * Colours
 * =========================== */
/* ===========================
 * Mesurement
 * =========================== */
/* ===========================
 * Grid
 * =========================== */
/**
 * Responsive breakpoints
 * */
/**
 * @file _colours.scss
 *
 * Colours used in the site.
 *
 * Prefix all colours with a namespace so that we can use theming if necessary.
 * The prefix is usually initials of the project - e.g. Salted Herring becomes $sh -> $sh-green: green.
 * */
/**
 * Define Global colours - collections of colours that can be used throughout the site:
 *
 *  $GLOBAL_COLOURS:    ("green", $we-green), ("teal", $we-teal),
 *						("black", $we-black), ("grey", $we-grey),
 *						("light-grey", $we-light-grey), ("white", $we-white),
 *						("mid-grey", $we-mid-grey);
 * */
/**
 * @file _mixins.scss
 *
 * Various mixins used throughout the stylesheets.
 * */
/**
 * Hack to override issue with compass box-sizing parsing of strings.
 * */
/**
 * Vertical alignment transformation
 * */
/**
 * Horizontal alignment transformation
 * */
/**
 * Clip path
 * */
/**
 * Font smoothing - see: https://maximilianhoffmann.com/posts/better-font-rendering-on-osx
 * */
/*
 * Font feature settings - see: https://github.com/bitmanic/font-feature-settings
 * */
/**
 * Grouping content - e.g. rows - fixes float boxes.
 * */
/**
 * Triangle generation
 * */
/**
 * How to make 3-corner-rounded triangle in CSS (SO)
 * http://stackoverflow.com/q/14446677/1397351
 */
/**
 * Disable text selection
 * */
/**
 * @file _grid.scss
 *
 * Grid configuration
 * */
/* line 19, ../scss/config/_grid.scss */
.container {
  width: 1065px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
/* line 12, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 24, ../scss/config/_grid.scss */
.row {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  /*.grid_4 {
  	&:nth-child(3n) {
  		margin-right: 0;
  	}
  }*/
}
/* line 28, ../scss/config/_grid.scss */
.row.overflow {
  overflow: visible;
}
/* line 32, ../scss/config/_grid.scss */
.row.padding {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 47, ../scss/config/_grid.scss */
.grid_1 {
  width: 60px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
  max-width: 60px;
  _width: 60px;
  		/*@if $i != $total-columns {
  			&:last-child {
  				margin-right: 0;
  			}
  		}
  
  		&.center {
  			&:last-child {
  				margin-right: auto;
  			}
  		}*/
}

/* line 70, ../scss/config/_grid.scss */
.grid_1_wide {
  width: 60px;
}

/* line 47, ../scss/config/_grid.scss */
.grid_2 {
  width: 140px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  		/*@if $i != $total-columns {
  			&:last-child {
  				margin-right: 0;
  			}
  		}
  
  		&.center {
  			&:last-child {
  				margin-right: auto;
  			}
  		}*/
}

/* line 70, ../scss/config/_grid.scss */
.grid_2_wide {
  width: 140px;
}

/* line 47, ../scss/config/_grid.scss */
.grid_3 {
  width: 220px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  		/*@if $i != $total-columns {
  			&:last-child {
  				margin-right: 0;
  			}
  		}
  
  		&.center {
  			&:last-child {
  				margin-right: auto;
  			}
  		}*/
}

/* line 70, ../scss/config/_grid.scss */
.grid_3_wide {
  width: 220px;
}

/* line 47, ../scss/config/_grid.scss */
.grid_4 {
  width: 300px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  		/*@if $i != $total-columns {
  			&:last-child {
  				margin-right: 0;
  			}
  		}
  
  		&.center {
  			&:last-child {
  				margin-right: auto;
  			}
  		}*/
}

/* line 70, ../scss/config/_grid.scss */
.grid_4_wide {
  width: 300px;
}

/* line 47, ../scss/config/_grid.scss */
.grid_5 {
  width: 380px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  		/*@if $i != $total-columns {
  			&:last-child {
  				margin-right: 0;
  			}
  		}
  
  		&.center {
  			&:last-child {
  				margin-right: auto;
  			}
  		}*/
}

/* line 70, ../scss/config/_grid.scss */
.grid_5_wide {
  width: 380px;
}

/* line 47, ../scss/config/_grid.scss */
.grid_6 {
  width: 460.0px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  		/*@if $i != $total-columns {
  			&:last-child {
  				margin-right: 0;
  			}
  		}
  
  		&.center {
  			&:last-child {
  				margin-right: auto;
  			}
  		}*/
}

/* line 70, ../scss/config/_grid.scss */
.grid_6_wide {
  width: 460.0px;
}

/* line 47, ../scss/config/_grid.scss */
.grid_7 {
  width: 540px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  		/*@if $i != $total-columns {
  			&:last-child {
  				margin-right: 0;
  			}
  		}
  
  		&.center {
  			&:last-child {
  				margin-right: auto;
  			}
  		}*/
}

/* line 70, ../scss/config/_grid.scss */
.grid_7_wide {
  width: 540px;
}

/* line 47, ../scss/config/_grid.scss */
.grid_8 {
  width: 620.0px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  		/*@if $i != $total-columns {
  			&:last-child {
  				margin-right: 0;
  			}
  		}
  
  		&.center {
  			&:last-child {
  				margin-right: auto;
  			}
  		}*/
}

/* line 70, ../scss/config/_grid.scss */
.grid_8_wide {
  width: 620.0px;
}

/* line 47, ../scss/config/_grid.scss */
.grid_9 {
  width: 700px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  		/*@if $i != $total-columns {
  			&:last-child {
  				margin-right: 0;
  			}
  		}
  
  		&.center {
  			&:last-child {
  				margin-right: auto;
  			}
  		}*/
}

/* line 70, ../scss/config/_grid.scss */
.grid_9_wide {
  width: 700px;
}

/* line 47, ../scss/config/_grid.scss */
.grid_10 {
  width: 780px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  		/*@if $i != $total-columns {
  			&:last-child {
  				margin-right: 0;
  			}
  		}
  
  		&.center {
  			&:last-child {
  				margin-right: auto;
  			}
  		}*/
}

/* line 70, ../scss/config/_grid.scss */
.grid_10_wide {
  width: 780px;
}

/* line 47, ../scss/config/_grid.scss */
.grid_11 {
  width: 860.0px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  		/*@if $i != $total-columns {
  			&:last-child {
  				margin-right: 0;
  			}
  		}
  
  		&.center {
  			&:last-child {
  				margin-right: auto;
  			}
  		}*/
}

/* line 70, ../scss/config/_grid.scss */
.grid_11_wide {
  width: 860.0px;
}

/* line 47, ../scss/config/_grid.scss */
.grid_12 {
  width: 940px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  		/*@if $i != $total-columns {
  			&:last-child {
  				margin-right: 0;
  			}
  		}
  
  		&.center {
  			&:last-child {
  				margin-right: auto;
  			}
  		}*/
}

/* line 70, ../scss/config/_grid.scss */
.grid_12_wide {
  width: 940px;
}

/* line 80, ../scss/config/_grid.scss */
[class*="grid_"].last {
  float: right;
}

/* line 86, ../scss/config/_grid.scss */
.alpha {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 0;
}

/* line 92, ../scss/config/_grid.scss */
.spacer_1 {
  margin-left: 90px;
}

/* line 96, ../scss/config/_grid.scss */
.after_1 {
  margin-right: 90px;
}

/* line 92, ../scss/config/_grid.scss */
.spacer_2 {
  margin-left: 170px;
}

/* line 96, ../scss/config/_grid.scss */
.after_2 {
  margin-right: 170px;
}

/* line 92, ../scss/config/_grid.scss */
.spacer_3 {
  margin-left: 250px;
}

/* line 96, ../scss/config/_grid.scss */
.after_3 {
  margin-right: 250px;
}

/* line 92, ../scss/config/_grid.scss */
.spacer_4 {
  margin-left: 330px;
}

/* line 96, ../scss/config/_grid.scss */
.after_4 {
  margin-right: 330px;
}

/* line 92, ../scss/config/_grid.scss */
.spacer_5 {
  margin-left: 410.0px;
}

/* line 96, ../scss/config/_grid.scss */
.after_5 {
  margin-right: 410.0px;
}

/* line 92, ../scss/config/_grid.scss */
.spacer_6 {
  margin-left: 490px;
}

/* line 96, ../scss/config/_grid.scss */
.after_6 {
  margin-right: 490px;
}

/* line 92, ../scss/config/_grid.scss */
.spacer_7 {
  margin-left: 570.0px;
}

/* line 96, ../scss/config/_grid.scss */
.after_7 {
  margin-right: 570.0px;
}

/* line 92, ../scss/config/_grid.scss */
.spacer_8 {
  margin-left: 650px;
}

/* line 96, ../scss/config/_grid.scss */
.after_8 {
  margin-right: 650px;
}

/* line 92, ../scss/config/_grid.scss */
.spacer_9 {
  margin-left: 730px;
}

/* line 96, ../scss/config/_grid.scss */
.after_9 {
  margin-right: 730px;
}

/* line 92, ../scss/config/_grid.scss */
.spacer_10 {
  margin-left: 810.0px;
}

/* line 96, ../scss/config/_grid.scss */
.after_10 {
  margin-right: 810.0px;
}

/* line 92, ../scss/config/_grid.scss */
.spacer_11 {
  margin-left: 890px;
}

/* line 96, ../scss/config/_grid.scss */
.after_11 {
  margin-right: 890px;
}

/* line 92, ../scss/config/_grid.scss */
.spacer_12 {
  margin-left: 970px;
}

/* line 96, ../scss/config/_grid.scss */
.after_12 {
  margin-right: 970px;
}

/* ===========================
 * Responsive Grid
 * =========================== */
@media (max-width: 959px) {
  /* line 109, ../scss/config/_grid.scss */
  .alpha {
    margin-left: 0;
    padding-left: 0;
  }

  /* line 116, ../scss/config/_grid.scss */
  .grid_6,
  .grid_6_wide {
    width: 100%;
    max-width: 40rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 126, ../scss/config/_grid.scss */
  .grid_6:last-child {
    margin-right: auto;
  }

  /* line 116, ../scss/config/_grid.scss */
  .grid_7,
  .grid_7_wide {
    width: 100%;
    max-width: 40rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 126, ../scss/config/_grid.scss */
  .grid_7:last-child {
    margin-right: auto;
  }

  /* line 116, ../scss/config/_grid.scss */
  .grid_8,
  .grid_8_wide {
    width: 100%;
    max-width: 40rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 126, ../scss/config/_grid.scss */
  .grid_8:last-child {
    margin-right: auto;
  }

  /* line 116, ../scss/config/_grid.scss */
  .grid_9,
  .grid_9_wide {
    width: 100%;
    max-width: 40rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 126, ../scss/config/_grid.scss */
  .grid_9:last-child {
    margin-right: auto;
  }

  /* line 116, ../scss/config/_grid.scss */
  .grid_10,
  .grid_10_wide {
    width: 100%;
    max-width: 40rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 126, ../scss/config/_grid.scss */
  .grid_10:last-child {
    margin-right: auto;
  }

  /* line 116, ../scss/config/_grid.scss */
  .grid_11,
  .grid_11_wide {
    width: 100%;
    max-width: 40rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 126, ../scss/config/_grid.scss */
  .grid_11:last-child {
    margin-right: auto;
  }

  /* line 116, ../scss/config/_grid.scss */
  .grid_12,
  .grid_12_wide {
    width: 100%;
    max-width: 40rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 126, ../scss/config/_grid.scss */
  .grid_12:last-child {
    margin-right: auto;
  }
}
/* ===========================
 * iPad to Desktop
 * =========================== */
/* ===========================
 * iPhone to iPad
 * =========================== */
/* ===========================
 * iPhone
 * =========================== */
@media (min-width: 0) and (max-width: 735px) {
  /* line 154, ../scss/config/_grid.scss */
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 162, ../scss/config/_grid.scss */
  .grid_1,
  .grid_1_wide {
    width: 100%;
    max-width: 40rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 172, ../scss/config/_grid.scss */
  .grid_1:last-child {
    margin-right: auto;
  }

  /* line 162, ../scss/config/_grid.scss */
  .grid_2,
  .grid_2_wide {
    width: 100%;
    max-width: 40rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 172, ../scss/config/_grid.scss */
  .grid_2:last-child {
    margin-right: auto;
  }

  /* line 162, ../scss/config/_grid.scss */
  .grid_3,
  .grid_3_wide {
    width: 100%;
    max-width: 40rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 172, ../scss/config/_grid.scss */
  .grid_3:last-child {
    margin-right: auto;
  }

  /* line 162, ../scss/config/_grid.scss */
  .grid_4,
  .grid_4_wide {
    width: 100%;
    max-width: 40rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 172, ../scss/config/_grid.scss */
  .grid_4:last-child {
    margin-right: auto;
  }

  /* line 162, ../scss/config/_grid.scss */
  .grid_5,
  .grid_5_wide {
    width: 100%;
    max-width: 40rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 172, ../scss/config/_grid.scss */
  .grid_5:last-child {
    margin-right: auto;
  }

  /* line 162, ../scss/config/_grid.scss */
  .grid_6,
  .grid_6_wide {
    width: 100%;
    max-width: 40rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 172, ../scss/config/_grid.scss */
  .grid_6:last-child {
    margin-right: auto;
  }

  /* line 162, ../scss/config/_grid.scss */
  .grid_7,
  .grid_7_wide {
    width: 100%;
    max-width: 40rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 172, ../scss/config/_grid.scss */
  .grid_7:last-child {
    margin-right: auto;
  }

  /* line 162, ../scss/config/_grid.scss */
  .grid_8,
  .grid_8_wide {
    width: 100%;
    max-width: 40rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 172, ../scss/config/_grid.scss */
  .grid_8:last-child {
    margin-right: auto;
  }

  /* line 162, ../scss/config/_grid.scss */
  .grid_9,
  .grid_9_wide {
    width: 100%;
    max-width: 40rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 172, ../scss/config/_grid.scss */
  .grid_9:last-child {
    margin-right: auto;
  }

  /* line 162, ../scss/config/_grid.scss */
  .grid_10,
  .grid_10_wide {
    width: 100%;
    max-width: 40rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 172, ../scss/config/_grid.scss */
  .grid_10:last-child {
    margin-right: auto;
  }

  /* line 162, ../scss/config/_grid.scss */
  .grid_11,
  .grid_11_wide {
    width: 100%;
    max-width: 40rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 172, ../scss/config/_grid.scss */
  .grid_11:last-child {
    margin-right: auto;
  }

  /* line 162, ../scss/config/_grid.scss */
  .grid_12,
  .grid_12_wide {
    width: 100%;
    max-width: 40rem;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 172, ../scss/config/_grid.scss */
  .grid_12:last-child {
    margin-right: auto;
  }
}
@font-face {
  font-family: 'BaseTwo';
  src: url("../b2-fonts/LabGrotesque-Light.eot?#iefix") format("embedded-opentype"), url("../b2-fonts/LabGrotesque-Light.woff") format("woff"), url("../b2-fonts/LabGrotesque-Light.ttf") format("truetype"), url("../b2-fonts/LabGrotesque-Light.svg#LabGrotesque-Light") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'BaseTwo';
  src: url("../b2-fonts/LabGrotesque-Regular.eot?#iefix") format("embedded-opentype"), url("../b2-fonts/LabGrotesque-Regular.woff") format("woff"), url("../b2-fonts/LabGrotesque-Regular.ttf") format("truetype"), url("../b2-fonts/LabGrotesque-Regular.svg#LabGrotesque-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'BaseTwo';
  src: url("../b2-fonts/LabGrotesque-Medium.eot?#iefix") format("embedded-opentype"), url("../b2-fonts/LabGrotesque-Medium.woff") format("woff"), url("../b2-fonts/LabGrotesque-Medium.ttf") format("truetype"), url("../b2-fonts/LabGrotesque-Medium.svg#LabGrotesque-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'BaseTwo';
  src: url("../b2-fonts/LabGrotesque-Bold.eot?#iefix") format("embedded-opentype"), url("../b2-fonts/LabGrotesque-Bold.woff") format("woff"), url("../b2-fonts/LabGrotesque-Bold.ttf") format("truetype"), url("../b2-fonts/LabGrotesque-Bold.svg#LabGrotesque-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'BaseTwo';
  src: url("../b2-fonts/LabGrotesque-Black.eot?#iefix") format("embedded-opentype"), url("../b2-fonts/LabGrotesque-Black.woff") format("woff"), url("../b2-fonts/LabGrotesque-Black.ttf") format("truetype"), url("../b2-fonts/LabGrotesque-Black.svg#LabGrotesque-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'BaseTwo';
  src: url("../b2-fonts/LabGrotesque-LightItalic.eot?#iefix") format("embedded-opentype"), url("../b2-fonts/LabGrotesque-LightItalic.woff") format("woff"), url("../b2-fonts/LabGrotesque-LightItalic.ttf") format("truetype"), url("../b2-fonts/LabGrotesque-LightItalic.svg#LabGrotesque-LightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'BaseTwo';
  src: url("../b2-fonts/LabGrotesque-Italic.eot?#iefix") format("embedded-opentype"), url("../b2-fonts/LabGrotesque-Italic.woff") format("woff"), url("../b2-fonts/LabGrotesque-Italic.ttf") format("truetype"), url("../b2-fonts/LabGrotesque-Italic.svg#LabGrotesque-Italic") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'BaseTwo';
  src: url("../b2-fonts/LabGrotesque-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../b2-fonts/LabGrotesque-MediumItalic.woff") format("woff"), url("../b2-fonts/LabGrotesque-MediumItalic.ttf") format("truetype"), url("../b2-fonts/LabGrotesque-MediumItalic.svg#LabGrotesque-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'BaseTwo';
  src: url("../b2-fonts/LabGrotesque-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../b2-fonts/LabGrotesque-BoldItalic.woff") format("woff"), url("../b2-fonts/LabGrotesque-BoldItalic.ttf") format("truetype"), url("../b2-fonts/LabGrotesque-BoldItalic.svg#LabGrotesque-BoldItalic") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'BaseTwo';
  src: url("../b2-fonts/LabGrotesque-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../b2-fonts/LabGrotesque-BlackItalic.woff") format("woff"), url("../b2-fonts/LabGrotesque-BlackItalic.ttf") format("truetype"), url("../b2-fonts/LabGrotesque-BlackItalic.svg#LabGrotesque-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
}
/**
 * @file _fonts.scss
 *
 * Fonts used in the project
 * */
/**
 * Fontello
 * */
/*
@include font-face('fontello', font-files('fontello.woff', 'fontello.woff2', 'fontello.ttf', 'fontello.svg'), 'fontello.eot', normal,
					normal);
*/
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?43946484");
  src: url("../font/fontello.eot?43946484#iefix") format("embedded-opentype"), url("../font/fontello.woff2?43946484") format("woff2"), url("../font/fontello.woff?43946484") format("woff"), url("../font/fontello.ttf?43946484") format("truetype"), url("../font/fontello.svg?43946484#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/**
 * Example font import:
 * */
/*
@include font-face('RealtimeStencil', font-files('30669F_0_0.woff', '30669F_0_0.woff2', '30669F_0_0.ttf',
										'30669F_0_0.svg'), '30669F_0_0.eot', bold, normal);
*/
/**
 * Fontello config:
 * - Update with the values output by fontello.
 * */
/* line 84, ../scss/config/_fonts.scss */
.icon-twitter {
  font-size: 0;
  line-height: 0;
  text-indent: -1000000px;
}
/* line 59, ../scss/config/_fonts.scss */
.icon-twitter:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  text-indent: 0;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
}

/* line 84, ../scss/config/_fonts.scss */
.icon-facebook {
  font-size: 0;
  line-height: 0;
  text-indent: -1000000px;
}
/* line 59, ../scss/config/_fonts.scss */
.icon-facebook:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  text-indent: 0;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
}

/* line 84, ../scss/config/_fonts.scss */
.icon-instagram {
  font-size: 0;
  line-height: 0;
  text-indent: -1000000px;
}
/* line 59, ../scss/config/_fonts.scss */
.icon-instagram:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  text-indent: 0;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
}

/* line 84, ../scss/config/_fonts.scss */
.icon-search {
  font-size: 0;
  line-height: 0;
  text-indent: -1000000px;
}
/* line 59, ../scss/config/_fonts.scss */
.icon-search:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  text-indent: 0;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
}

/* line 84, ../scss/config/_fonts.scss */
.icon-arrow {
  font-size: 0;
  line-height: 0;
  text-indent: -1000000px;
}
/* line 59, ../scss/config/_fonts.scss */
.icon-arrow:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  text-indent: 0;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
}

/**
 * @file _sprites.scss
 *
 * Sprite generation - all icons are served from the public/assets/icons directory.
 * */
/**
 * Wraps any styles in a retina media query.
 */
/**
 * Option variable to define the spacing between images in the generated sprite
 */
/**
 * A mixin to create retina sprites with hover & active states
 *
 * You have to register a pair of sprites using `{@link #retina-sprite-add}` and then you can use this mixin:
 *
 *     @include retina-sprite-add(icons, "icons/*.png", "icons-retina/*.png");
 *
 *     .my-icon {
 *       @include retina-sprite(icon-name, icons);
 *     }
 *
 * @param {String} $name
 * @param {String} [$sprite-name]
 * @param {Boolean} [$hover=false]
 * @param {Boolean} [$active=false]
 */
/**
 * @param {String} $name
 * @param {String} $path
 * @param {String} $path2x
 */
/* line 1, ../scss/config/_modifiers.scss */
.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

/* line 7, ../scss/config/_modifiers.scss */
.hide {
  display: none;
}

/* line 11, ../scss/config/_modifiers.scss */
.text-centered {
  text-align: center;
}

/* line 15, ../scss/config/_modifiers.scss */
.text-right {
  text-align: right;
}

/* line 19, ../scss/config/_modifiers.scss */
.float-left {
  float: left;
}

/* line 23, ../scss/config/_modifiers.scss */
.float-right {
  float: right;
}

/* line 27, ../scss/config/_modifiers.scss */
.as-block {
  display: block;
}

/* line 31, ../scss/config/_modifiers.scss */
.as-inline-block {
  display: inline-block;
}

/* line 35, ../scss/config/_modifiers.scss */
.as-table {
  display: table;
  table-layout: fixed;
}
/* line 38, ../scss/config/_modifiers.scss */
.as-table .as-row {
  display: table-row;
}
/* line 42, ../scss/config/_modifiers.scss */
.as-table .as-cell {
  display: table-cell;
}

/* line 47, ../scss/config/_modifiers.scss */
.absolute {
  position: absolute;
}

/* line 51, ../scss/config/_modifiers.scss */
.relative, #header .container .socials .social, #header .container .socials #btn-search {
  position: relative;
}

/* line 55, ../scss/config/_modifiers.scss */
.icon-centered, #header .container .socials .social:before, #header .container .socials #btn-search:before {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.25rem;
}

/**
 * Import Sprite sheet.
 * */
/* line 18, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 24, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0;
}

/* line 36, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 54, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 64, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 71, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
[hidden],
template {
  display: none;
}

/* line 80, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
a {
  background-color: transparent;
}

/* line 85, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 94, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 99, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 105, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 111, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 117, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 123, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 80%;
}

/* line 128, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 136, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 140, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 148, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
}

/* line 153, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 161, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 1em 40px;
}

/* line 166, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 173, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
pre {
  overflow: auto;
}

/* line 178, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 195, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 206, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
button {
  overflow: visible;
}

/* line 214, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 224, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 233, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 239, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 247, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
input {
  line-height: normal;
}

/* line 255, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 264, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 272, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/* line 282, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 288, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 296, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* line 302, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
}

/* line 308, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* line 316, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 321, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 13, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_main.scss */
html {
  color: #222;
  font-size: 16;
  line-height: 1.4;
}

/* line 23, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 28, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 34, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 46, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_main.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* line 56, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 63, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_main.scss */
textarea {
  resize: vertical;
}

/* line 4, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 6, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 35, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 8, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 61, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 67, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_helpers.scss */
.clearfix:after {
  clear: both;
}

@media print {
  /* line 12, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 22, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 27, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 31, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 37, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 42, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 51, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 55, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 60, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important;
  }

  /* line 64, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 71, ../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.2/gems/compass-h5bp-1.0.0/stylesheets/h5bp/_media.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/**
 * Blocks.
 * */
/* line 1, ../scss/blocks/_parallax.scss */
.parallax {
  position: relative;
  width: 100%;
  overflow: hidden;
}
/* line 4, ../scss/blocks/_parallax.scss */
.parallax.normal {
  height: 400px;
}

/* line 1, ../scss/blocks/_header.scss */
#header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  height: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
/* line 9, ../scss/blocks/_header.scss */
#header .container {
  height: 70px;
  padding: 17px 0 18px;
  background-color: #ef483d;
}
/* line 13, ../scss/blocks/_header.scss */
#header .container a {
  font-size: 20px;
  color: #fff;
}
/* line 19, ../scss/blocks/_header.scss */
#header .container .nav {
  font-weight: bold;
  padding-left: 0.9375rem;
  padding-right: 12.625rem;
}
/* line 26, ../scss/blocks/_header.scss */
#header .container .nav ul, #header .container .nav li {
  list-style: none;
}
/* line 30, ../scss/blocks/_header.scss */
#header .container .nav ul {
  overflow: hidden;
  *zoom: 1;
  padding: 0;
  margin: 0;
}
/* line 34, ../scss/blocks/_header.scss */
#header .container .nav ul li {
  float: left;
  margin: 0 0.9375rem;
}
/* line 37, ../scss/blocks/_header.scss */
#header .container .nav ul li ul {
  display: none;
  background-color: #ef483d;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
}
/* line 46, ../scss/blocks/_header.scss */
#header .container .nav ul li a {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 2.125rem;
  line-height: 34px;
  display: block;
  background-color: rgba(255, 255, 255, 0);
  padding: 0 0.625rem;
}
/* line 53, ../scss/blocks/_header.scss */
#header .container .nav ul li a:hover, #header .container .nav ul li a.current {
  color: #ef483d;
  background-color: #fff;
}
/* line 63, ../scss/blocks/_header.scss */
#header .container .socials {
  overflow: hidden;
  *zoom: 1;
  height: 100%;
  top: 0;
  right: 0;
}
/* line 69, ../scss/blocks/_header.scss */
#header .container .socials button,
#header .container .socials a {
  float: left;
  height: 100%;
  display: block;
  overflow: hidden;
  text-indent: -62.4375rem;
  width: 2.75rem;
}
/* line 79, ../scss/blocks/_header.scss */
#header .container .socials button {
  width: 70px;
  border: none;
}
/* line 84, ../scss/blocks/_header.scss */
#header .container .socials .social {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff;
  background-color: #ef483d;
}
/* line 89, ../scss/blocks/_header.scss */
#header .container .socials .social:hover {
  background-color: #fff;
  color: #ef483d;
}
/* line 99, ../scss/blocks/_header.scss */
#header .container .socials #btn-search {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-left: 1px solid #ef483d;
  background-color: #fff;
  color: #ef483d;
}
/* line 105, ../scss/blocks/_header.scss */
#header .container .socials #btn-search:hover {
  background-color: #ef483d;
  color: #fff;
}

/* line 1, ../scss/blocks/_footer.scss */
#footer {
  height: 3.25rem;
  padding: 0.9375rem 0;
  background-color: #ef483d;
  color: #fff;
  font-size: 0.875rem;
}
/* line 7, ../scss/blocks/_footer.scss */
#footer a {
  color: #fff;
}

/**
 * Elements.
 * */
/**
 * Modules
 * */
/**
 * @file _typography.scss
 *
 * Global styles.
 * */
/* line 7, ../scss/_typography.scss */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 12, ../scss/_typography.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 18, ../scss/_typography.scss */
body {
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  text-rendering: optimizeLegibility;
}

/* line 23, ../scss/_typography.scss */
body,
p,
span,
td,
li {
  font-family: 'BaseTwo', Helvetica, Arial, sans-serif;
}

/* line 31, ../scss/_typography.scss */
body,
p,
td,
li {
  font-size: 16px;
}

/* line 38, ../scss/_typography.scss */
h1 {
  font-size: 4.5rem;
  line-height: 1em;
  margin: 0;
}

/* line 44, ../scss/_typography.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 50, ../scss/_typography.scss */
a:link, a:visited {
  border-bottom: none;
  text-decoration: none;
}
/* line 56, ../scss/_typography.scss */
a:hover {
  text-decoration: none;
}
/* line 60, ../scss/_typography.scss */
a:active {
  border-bottom: none;
  text-decoration: underline;
}

/**
 * Style classes
 * */
/* line 69, ../scss/_typography.scss */
.hide_text {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
}

/* line 73, ../scss/_typography.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 77, ../scss/_typography.scss */
.uppercase, #header .container a {
  text-transform: uppercase;
}

/* line 81, ../scss/_typography.scss */
.text-centered {
  text-align: center;
}

/* line 92, ../scss/_typography.scss */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-binding: url('xml/ellipsis.xml#ellipsis');
}

/**
 * Pages.
 * */
/* line 1, ../scss/pagetypes/_homepage.scss */
body.page-home #footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 9;
}
/* line 9, ../scss/pagetypes/_homepage.scss */
body.page-home #basetwo {
  top: 13.75rem;
  right: -0.75em;
  display: block;
  background-image: url('../images/sprites-sb739d15205.png');
  background-position: 0 0;
  -moz-background-size: auto;
  -o-background-size: auto;
  -webkit-background-size: auto;
  background-size: auto;
  background-repeat: repeat-y;
  height: 118px;
  width: 617px;
}
/* line 16, ../scss/pagetypes/_homepage.scss */
body.page-home #design {
  bottom: 10.625rem;
  left: -0.75em;
  display: block;
  background-image: url('../images/sprites-sb739d15205.png');
  background-position: 0 -118px;
  -moz-background-size: auto;
  -o-background-size: auto;
  -webkit-background-size: auto;
  background-size: auto;
  background-repeat: repeat-y;
  height: 151px;
  width: 460px;
}
/* line 23, ../scss/pagetypes/_homepage.scss */
body.page-home #basetwo,
body.page-home #design {
  overflow: hidden;
  text-indent: -9999px;
  position: absolute;
}

/*# sourceMappingURL=styles.css.map */
