@font-face {
  font-family:	'BaseTwo';
  src:			url('../b2-fonts/LabGrotesque-Light.eot?#iefix') format('embedded-opentype'),
				url('../b2-fonts/LabGrotesque-Light.woff') format('woff'),
				url('../b2-fonts/LabGrotesque-Light.ttf')  format('truetype'),
				url('../b2-fonts/LabGrotesque-Light.svg#LabGrotesque-Light') format('svg');
  font-weight:	200;
  font-style:	normal;
}


@font-face {
  font-family:	'BaseTwo';
  src:			url('../b2-fonts/LabGrotesque-Regular.eot?#iefix') format('embedded-opentype'),  
	     		url('../b2-fonts/LabGrotesque-Regular.woff') format('woff'), 
	     		url('../b2-fonts/LabGrotesque-Regular.ttf')  format('truetype'), 
	     		url('../b2-fonts/LabGrotesque-Regular.svg#LabGrotesque-Regular') format('svg');
  font-weight:	400;
  font-style:	normal;
}

@font-face {
  font-family:	'BaseTwo';
  src:			url('../b2-fonts/LabGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
				url('../b2-fonts/LabGrotesque-Medium.woff') format('woff'),
				url('../b2-fonts/LabGrotesque-Medium.ttf')  format('truetype'),
				url('../b2-fonts/LabGrotesque-Medium.svg#LabGrotesque-Medium') format('svg');
  font-weight:	500;
  font-style:	normal;
}

@font-face {
  font-family:	'BaseTwo';
  src:			url('../b2-fonts/LabGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
				url('../b2-fonts/LabGrotesque-Bold.woff') format('woff'), 
				url('../b2-fonts/LabGrotesque-Bold.ttf')  format('truetype'), 
				url('../b2-fonts/LabGrotesque-Bold.svg#LabGrotesque-Bold') format('svg');
  font-weight:	700;
  font-style:	normal;
}

@font-face {
  font-family:	'BaseTwo';
  src:			url('../b2-fonts/LabGrotesque-Black.eot?#iefix') format('embedded-opentype'),
				url('../b2-fonts/LabGrotesque-Black.woff') format('woff'), 
				url('../b2-fonts/LabGrotesque-Black.ttf')  format('truetype'), 
				url('../b2-fonts/LabGrotesque-Black.svg#LabGrotesque-Black') format('svg');
  font-weight:	900;
  font-style:	normal;
}

@font-face {
  font-family:	'BaseTwo';
  src:			url('../b2-fonts/LabGrotesque-LightItalic.eot?#iefix') format('embedded-opentype'),
				url('../b2-fonts/LabGrotesque-LightItalic.woff') format('woff'), 
				url('../b2-fonts/LabGrotesque-LightItalic.ttf')  format('truetype'), 
				url('../b2-fonts/LabGrotesque-LightItalic.svg#LabGrotesque-LightItalic') format('svg');
  font-weight:	200;
  font-style:	italic;
}

@font-face {
  font-family:	'BaseTwo';
  src:			url('../b2-fonts/LabGrotesque-Italic.eot?#iefix') format('embedded-opentype'), 
				url('../b2-fonts/LabGrotesque-Italic.woff') format('woff'), 
				url('../b2-fonts/LabGrotesque-Italic.ttf')  format('truetype'), 
				url('../b2-fonts/LabGrotesque-Italic.svg#LabGrotesque-Italic') format('svg');
  font-weight:	400;
  font-style:	italic;
}

@font-face {
  font-family:	'BaseTwo';
  src:			url('../b2-fonts/LabGrotesque-MediumItalic.eot?#iefix') format('embedded-opentype'),
				url('../b2-fonts/LabGrotesque-MediumItalic.woff') format('woff'),
				url('../b2-fonts/LabGrotesque-MediumItalic.ttf')  format('truetype'),
				url('../b2-fonts/LabGrotesque-MediumItalic.svg#LabGrotesque-MediumItalic') format('svg');
  font-weight:	500;
  font-style:	italic;
}

@font-face {
  font-family:	'BaseTwo';
  src:			url('../b2-fonts/LabGrotesque-BoldItalic.eot?#iefix') format('embedded-opentype'),
				url('../b2-fonts/LabGrotesque-BoldItalic.woff') format('woff'), 
				url('../b2-fonts/LabGrotesque-BoldItalic.ttf')  format('truetype'), 
				url('../b2-fonts/LabGrotesque-BoldItalic.svg#LabGrotesque-BoldItalic') format('svg');
  font-weight:	700;
  font-style:	italic;
}

@font-face {
  font-family:	'BaseTwo';
  src:			url('../b2-fonts/LabGrotesque-BlackItalic.eot?#iefix') format('embedded-opentype'), 
				url('../b2-fonts/LabGrotesque-BlackItalic.woff') format('woff'), 
				url('../b2-fonts/LabGrotesque-BlackItalic.ttf')  format('truetype'), 
				url('../b2-fonts/LabGrotesque-BlackItalic.svg#LabGrotesque-BlackItalic') format('svg');
  font-weight:	900;
  font-style:	italic;
}

