/**
 * @file _fonts.scss
 *
 * Fonts used in the project
 * */

/**
 * Fontello
 * */
/*
@include font-face('fontello', font-files('fontello.woff', 'fontello.woff2', 'fontello.ttf', 'fontello.svg'), 'fontello.eot', normal,
					normal);
*/

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?94036915');
  src: url('../font/fontello.eot?94036915#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?94036915') format('woff2'),
       url('../font/fontello.woff?94036915') format('woff'),
       url('../font/fontello.ttf?94036915') format('truetype'),
       url('../font/fontello.svg?94036915#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**
 * Example font import:
 * */
/*
@include font-face('RealtimeStencil', font-files('30669F_0_0.woff', '30669F_0_0.woff2', '30669F_0_0.ttf',
										'30669F_0_0.svg'), '30669F_0_0.eot', bold, normal);
*/




/**
 * Fontello config:
 * - Update with the values output by fontello.
 * */
 
$icons: (
	twitter:	'\f058',
	facebook: 	'\f30e',
	instagram: 	'\f31e',
	search: 	'\f50d',
	arrow: 		'\e800',
	close: 		'\e801'
);

@mixin icon($icon: facebook, $font-size: rem(14), $position: before, $hide-font: true) {

	@if $hide-font {
		font-size: 0;
		line-height: 0;
		text-indent: -1000000px;
	}

	&:#{$position} {
		font-family: "fontello";
		font-style: normal;
		font-weight: normal;
		font-size: $font-size;
		text-indent: 0;
		speak: none;

		display: inline-block;
		text-decoration: inherit;
		text-align: center;
		font-variant: normal;
		text-transform: none;

		line-height: 1em;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		content: map-get($icons, $icon);

		@content;
	}
}

@each $key, $value in $icons {
  .icon-#{$key} {
    @include icon($key);
  }
}
