/* ===========================
 * Typography
 * =========================== */
$font_size: 16;

/* ===========================
 * Colours
 * =========================== */
$b2-red: #ef483d;

/* ===========================
 * Mesurement
 * =========================== */
$header-outter-height: 70px;
$header-height: 70px;
$footer-height: 52px;

/* ===========================
 * Grid
 * =========================== */
$container-width: 1068px;
$total-columns: 12;
$column-width: 69px;
$gutter-width: 20px;
$grid-padding: 10px;

/**
 * Responsive breakpoints
 * */
$container_landscape: max-width 1024px;
$container_portrait: max-width 767px;
$container: max-width 959px;
$max-width-single-column: 640;
$container_ipadToDesktop: 768px 1023px;
$container_largerPhones: 640px 767px;
$container_small: 0 639px;


