.blog-entry {
	width: calc(50% - 30px);
	margin: 0 rem(15) rem(20);
	float: left;
	.blog-thumb {
		overflow: hidden;
		@extend .relative;
		margin-bottom: rem(5);
		
		img {
			position: relative;
			z-index: -1;
			display: block;
			line-height: 0;
			font-size: 0;
			@include transition(all ease-in-out 0.3s);
		}
		
		&:hover {
			img {
				@include transform(scale(1.1));
			}
		}
		
		&:before {
			z-index: 1;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: rgba(0,0,0,0.4);
			background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.4)), color-stop(100%, rgba(0,0,0,0)));
			background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
			background: -o-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
			background: -ms-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
			background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
		}
		
		.blog-entry-title {
			z-index: 2;
			font-weight: normal;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			color: #fff;
			font-size: rem(30);
			margin: 0;
			padding: rem(30);
		}
	}
	
	.blog-entry-misc {
		div {
			color: #1a1a1a;
			width: 100%;
			font-size: rem(20);
		}
		
		.blog-entry-tags {
			font-weight: bold;
			max-width: rem(320);
		}
		
		.blog-entry-date {
			text-align: right;
			max-width: rem(165);
		}
		
	}
}