.jarallax,
.parallax {
    position: relative;
    width: 100%;
    &.full {
        height: 100vh;
    }

    &.normal {
        height: 400px;
    }

    @include breakpoint($container_small) {
        height: 50vh !important;
    }

    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
