.showcase,
.work {
    .work-title {
        background-color: $b2-red;
        margin-bottom: rem(30);
        h2 {
            line-height: 1.2;
            margin-top: 0;
            margin-bottom: 0;
            font-size: rem(24);
            margin-top: 0;
            margin-bottom: 0;
            color: white;
            &.container {
                padding: rem(10) rem(15);
            }
        }

    }
    .container {
        padding-bottom: rem(120);

        @include breakpoint($container_small) {
            padding-bottom: rem(40);
        }

        &.work-content {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .work-content {
            @extend .content;
            padding-left: rem(15);
            padding-right: rem(15);
            h2, h3, h4, h5, h6, p, li, td {
                line-height: 1.6;
            }
        }
    }
}
