.showcase,
.work {
	.container {
		padding-top: rem(40);
		padding-bottom: rem(40);
		.showcase-title,
		.work-title {
			@extend .title;
			h2, p {
				line-height: 1.2;
				margin-top: 0;
				margin-bottom: 0;
			}
			
			h2 {
				font-size: rem(32);
			}
			
			p {
				color: #000;
				font-size: rem(32);
			}
		}
		
		.showcase-content,
		.work-content {
			@extend .content;
			
		}
	}
}