/**
 * @file styles.scss
 *
 * Main stylesheet.
 * */

/**
 * Import external libraries.
 * */
@import 'compass';
@import 'susy';
@import 'breakpoint';
@import 'h5bp';

/**
 * import config.
 * */
@import 'config/variables',
        'config/colours',
        'config/mixins',
        'config/grid',
        'config/b2font',
        'config/fonts',
        'config/sprite',
        'config/modifiers';

/**
 * Import Sprite sheet.
 * */
@include retina-sprite-add(icons, "sprites/*.png", "retina_sprites/*.png");

@include h5bp-normalize;
@include h5bp-base-styles;
@include h5bp-helpers;
@include h5bp-media;

/**
 * Blocks.
 * */
@import 'blocks/parallax',
        'blocks/header',
        'blocks/footer',
        'blocks/work',
        'blocks/blogentry',
        'blocks/searchform',
        'blocks/menu-bottom';

/**
 * Elements.
 * */

/**
 * Modules
 * */

@import 'typography';

html {
    -webkit-tap-highlight-color: rgba(201, 224, 253, 0.8);
    &.lt-ie9,
    &.lt-ie9 body,
    &.locked,
    &.locked body {
        height: 100%;
        overflow: hidden;
    }
}


/**
 * Pages.
 * */
body {
    padding-top: rem(60);
}

body.page-home {
    @import 'pagetypes/homepage';
}

body.page-Security,
body.page-SearchResultController,
body.page-type-blogs-page {
    @import 'pagetypes/blogpage';
}

body.page-SearchResultController {
    @import 'pagetypes/search_result';
}

body.single-blog-entry-page {
    @import 'pagetypes/single_blog_entry';
}

body.page-type-contact-page {
    @import 'pagetypes/contactpage';
}

body.page-terms-and-conditions {
    @import 'pagetypes/tnc';
}

#content-area {
    padding-bottom: rem(15);
    .container {
        padding-left: rem(15);
        padding-right: rem(15);
    }
    position: relative;
    @include breakpoint($container_ipadToDesktop) {
        .content {
            padding-left: rem(15);
            padding-right: rem(15);
        }
    }

    // @include breakpoint($container_small) {
    //     padding: rem(20) rem(15);
    // }
}

#page-title {
    font-size: rem(24);
    color: white;
    padding: rem(10) rem(15);
    margin-bottom: rem(30);
    &-wrapper {
        background-color: $b2-red;
    }
}

#main {

    @include breakpoint($container_ipadToDesktop) {
        padding-bottom: 0;
    }

    @include breakpoint($container_portrait) {
        padding-bottom: 0;
    }
}
