/**
 * @file styles.scss
 *
 * Main stylesheet.
 * */

/**
 * Import external libraries.
 * */
@import 'compass';
@import 'susy';
@import 'breakpoint';
@import 'h5bp';

/**
 * import config.
 * */
@import 'config/variables',
		'config/colours',
		'config/mixins',
		'config/grid',
		'config/fonts',
		'config/sprite';

/**
 * Import Sprite sheet.
 * */
// @include retina-sprite-add(icons, "sprites/*.png", "retina_sprites/*.png");

@include h5bp-normalize;
@include h5bp-base-styles;
@include h5bp-helpers;
@include h5bp-media;

/**
 * Blocks.
 * */

/**
 * Elements.
 * */

/**
 * Modules
 * */

@import 'typography';


/**
 * Pages.
 * */

body.page-homepage {
// 	@import 'pages/homepage';
}
