#main {
	padding-top: $header-outter-height;
	@include breakpoint($container_portrait) {
		padding-top: rem(41);
	}
}

#page-title {
	margin-left: 0;
	margin-right: 0;
	padding-left: rem(15);
	padding-right: rem(15);
	@include breakpoint($container_portrait) {
		margin: 0;
		padding: 0;
	}
}

#header {
	border-color: $b2-red;
	#btn-search {
		border-right: 1px solid $b2-red;
	}
}

.container .row {
	padding: 0 rem(15);
	@include breakpoint($container_small) {
		margin: 0;
		padding: 0 rem(5);
		&.sub-title {
			padding: 0;
		}
	}
}