#main {
	padding-top: $header-outter-height;
}

#page-title {
	padding-left: rem(15);
	padding-right: rem(15);
}

#header {
	border-color: $b2-red;
	#btn-search {
		border-right: 1px solid $b2-red;
	}
}

.container .row {
	padding: 0 rem(15);
}