#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	z-index: 8;
	height: $footer-height;
	
	@include breakpoint($container_landscape) {
		position: static;
		height: auto;
	}
}	


#basetwo {
	top: rem(220);
	right: -0.75em;
	display: block;
	@include retina-sprite(basetwo, icons, $dimensions: true, $nonRetina: true);
	@include breakpoint($container_portrait) {
		@include transform-origin(100%, 50%);
		top: 20%;
	}
}

#design {
	bottom: rem(170);
	left: -0.75em;
	display: block;
	@include retina-sprite(design, icons, $dimensions: true, $nonRetina: true);
	@include breakpoint($container_portrait) {
		@include transform-origin(0, 50%);
		bottom: 20%;
	}
}

#basetwo,
#design {
	overflow: hidden;
	text-indent: -9999px;
	position: absolute;
	@include breakpoint($container_portrait) {
		@include transform(scale(0.5));
	}
}

#btn-read-on {
	bottom: rem(72);
	@include breakpoint(max-width 1023px) {
		bottom: rem(36);
	}
	left: 50%;
	@include transform(translateX(-50%));
	position: fixed;
	z-index: 8;
	text-indent: 0;
	color: rgba(255,255,255,0.6);
	@include transition(color ease-in-out 0.3s);
	&:hover {
		color: rgba(255,255,255,1);
	}
	
	text-decoration: none;
	
	&:before {
		font-size: rem(20);
		font-weight: lighter;
	}
}

#ie-go-home {
	position: fixed;
	z-index: 100;
	background-color: #fff;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	.container {
		padding-top: 100px;
		color: #333;
		h1 {
			color: $b2-red;
		}
	}
	
}